<div id="comment-section">
    Comments-section<br>
    
   <%for( comment of i.comments){%>

       <%if(locals.user && locals.user.id == comment.user.id){%>
           
   <a href="new/delete/comment/<%= comment.id%>" >X</a>
           
       <%}%>

   <p> <small> <%=comment.user.name%></small>: <%= comment.comments%></p><br>

   <%}%>
</div><br>

<div id="comment">
<% if(locals.user){%>
<form action="new/comment" method="POST">
<input type="text" name="comment" placeholder="comment">
<input type="hidden" name="post" value="<%= i.id %>">
<input type="submit" value="Add comment">
</form>
<%}%>