<link rel="stylesheet" href="<%= assetPath('CSS/footer.css') %>">
<footer>
    &ensp;&#169; WasiSharief. All Rights Reserved 
    <ul>
        
        <%if(locals.user){%>
            <li><a href="user/profile/<%= user.id%>">Profile</a></li>
            <%}%>
            <li><a href="/home">Home</a></li>
      
    </ul>
</footer>