
        <link rel="stylesheet" type="text/css" href="/CSS/home.css">
        
    
        
       

        <h1 id="id">
            <%= h1 %><br>
            Home/
        </h1>

        <script type="text/javascript" src="/JS/home.js"></script>

        
        
      
        
        