
        <link rel="stylesheet" type="text/css" href="/CSS/home.css">

        <h1 id="id">
            <%= h1 %><br>
        
        </h1>
        <br>
       <%- include('_posts') -%>
    
 
        
        <br>
        <script type="text/javascript" src="/JS/home.js"></script>

        
        
      
        
        