<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" type="text/css" href="/CSS/home.css">

    </head>
    <body>
        <h1 id="id">
            <%= h1 %>
        </h1>
        <p></p>
        <script type="text/javascript" src="/JS/home.js">
      
        
        </script>
    </body>
</html>