<form action="http://127.0.0.1:8000/password/newpassword/<%= resetlink.accesstoken %>" method="POST">
    <p>Create New Password</p><br>
    <input type="password" name="newpassword" placeholder="New Password">
    <input type="password" name="confirmpassword" placeholder="Confirm Password">
    <input type="submit">
    
</form>