
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="/CSS/home.css">
        
        <h1><%= h1%>
            <br>
        User/profile<br>
        
        </h1>
        
    </body>
</html>