<link rel="stylesheet" type="text/css" href="/CSS/home.css">
        

<form action="/signin" method="POST">
    <h1 id="id">
        <%= h1 %><br>
        
    </h1>
    <input type="text" required name="email" placeholder="username">
    <input type="password" required name="password" placeholder="password">
    <br><br>

    <button type="submit">

            Submit
            
    </button>
  

</form>