#chatbox{
    width: 250px;
    height: 300px;
    background-color: yellowgreen;
    position: fixed;
    left: 83%;
    top: 55%;
    border: 1px black solid;
    border-radius: 6px;
    
    
    
    #conversationbox{
        width: 100%;
        height: 90%;
        background-color: whitesmoke;
        border-radius: 6px;
        ul{
            width: 100%;
           
            margin-left: -16%;
        }
        li{
            list-style: none;

        }

        h2{
            text-align: center;
            margin: 0;
            border-bottom: 1px solid black;
        }
        .sender{
            text-align: left;
            width: 100%;
            height: 30px;
            margin: 0;
            
            span{
                background-color: cadetblue;
                padding: 10px;
            }
        }
        .receiver{
            text-align: right;
            width: 100%;
            height: 30px;
            

            span{
                background-color:goldenrod;
               padding: 10px;

            }
           
        }
        
    }
    #chatinputsection{
        width: 100%;
        height: 25px;
        display: flex;
        border-bottom-left-radius: 5px;
        border-top: 1px solid black;

        #chatinput{
            width: 70%;
            height: 108%;
            padding-right: 4px;
            outline: none;
            border: 0px solid;
            border-bottom-left-radius: 7px;
            text-indent: 5px;
            box-shadow: 0px 0px 5px 0px black;
            
        }

        #chatsendbtn{
            width: 30%;
            height: 115%;
            background-color: yellowgreen;
            border: 0px solid;
            border-bottom-right-radius: 7px;
           
        }

    }

}