#comment-section{
    width: fit-content;
    height: fit-content;
    background-color: rgb(197, 170, 170);
    border: 1px solid black;
    margin-left: 3%;
    text-align: left;
    
    p{
        display: inline-block;
    }
}
#user-friends{
    width: 30%;
    padding: 10px;
    border: 1px solid black;

}