body{
    margin: 0;
    
    #layout-main{
        min-height: 600px;
    }
    
    #home-container{
        margin-top: 0%;
        height: fit-content;
        width: 100%;
        background-color: rgb(244, 246, 252);
        text-align: left;
        min-height: 600px;
        display: flex;
        
        #feed-posts{
            width: 70%;

                .post-class{
                    width: 300px;
                    height: fit-content;
                    background-color: yellowgreen;
                    padding: 10px;
                    margin-bottom: 5px;

                    .commentclickdiv{
                        height: 25px;
                        width: 150px;
                        background-color: rgb(85, 97, 97);
                        margin-left: 10px;
                        display: flex;
                        justify-content: center;
                        a{
                            text-decoration: none;
                            color: white;
                            
                        }
                    }
                }
                .likes-comments-section{
                    display: flex;
                    margin-left: 10px;

                    .comments{
                        visibility: hidden;
                    }
                    .commentshide{
                        visibility: visible;
                    }

                    .likeanchor{
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                    .blue{
                        color:  rgb(53, 109, 231);
                    }    
                        
                    }
                    .liker-toggle{
                        color: rgb(53, 109, 231);
                        animation: likeswing 0.3s ease-in-out 1;
                        
                    }
                    @keyframes likeswing{
                        0%{
                            transform: rotateZ(20deg);
                            transform: scaleX(1.2);
                        }
                        30%{
                            transform: rotateZ(0deg);
                            transform: scaleX(1.2);
                        }
                        50%{
                            transform: rotateZ(-15deg);
                            
                        }
                        70%{
                            transform: rotateZ(10deg);
                            transform: scaleX(1.2);
                        }
                        100%{
                            transform: rotateZ(-10deg);
                            
                        }
                        
                    }
                }
        }
        aside{
            width: 30%;

            #Friends{
                width: 100%;
                height: 50%;
                
            }
        }
        h1{
            
            font-size: 45px;
           color: rgb(15, 57, 112);
            padding: 20px;
            margin-top: 0%;
            
        }
        button{
            width: 150px;
            height: 40px;
            background-color:  rgb(6, 79, 82);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
            border:0px solid;
        
        }

    }
}
