body{
    margin: 0;
    
    
    
    #home-container{
        margin-top: 0%;
        height: fit-content;
        width: 100%;
        background-color: rgb(244, 246, 252);
        text-align: left;
        min-height: 600px;
        display: flex;
        
        #feed-posts{
            width: 70%;
        }
        #user-friends{
            width: 30%;
        }
        h1{
            
            font-size: 45px;
           color: rgb(15, 57, 112);
            padding: 20px;
            margin-top: 0%;
            
        }
        button{
            width: 150px;
            height: 40px;
            background-color:  rgb(6, 79, 82);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
            border:0px solid;
        
        }

    }
}
