#chatbox {
  width: 250px;
  height: 300px;
  background-color: yellowgreen;
  position: fixed;
  left: 83%;
  top: 55%;
  border: 1px black solid;
  border-radius: 6px; }
  #chatbox #conversationbox {
    width: 100%;
    height: 90%;
    background-color: whitesmoke;
    border-radius: 6px; }
    #chatbox #conversationbox ul {
      width: 100%;
      margin-left: -16%; }
    #chatbox #conversationbox li {
      list-style: none; }
    #chatbox #conversationbox h2 {
      text-align: center;
      margin: 0;
      border-bottom: 1px solid black; }
    #chatbox #conversationbox .sender {
      text-align: left;
      width: 100%;
      height: 30px;
      margin: 0; }
      #chatbox #conversationbox .sender span {
        background-color: cadetblue;
        padding: 10px; }
    #chatbox #conversationbox .receiver {
      text-align: right;
      width: 100%;
      height: 30px; }
      #chatbox #conversationbox .receiver span {
        background-color: goldenrod;
        padding: 10px; }
  #chatbox #chatinputsection {
    width: 100%;
    height: 25px;
    display: flex;
    border-bottom-left-radius: 5px;
    border-top: 1px solid black; }
    #chatbox #chatinputsection #chatinput {
      width: 70%;
      height: 108%;
      padding-right: 4px;
      outline: none;
      border: 0px solid;
      border-bottom-left-radius: 7px;
      text-indent: 5px;
      box-shadow: 0px 0px 5px 0px black; }
    #chatbox #chatinputsection #chatsendbtn {
      width: 30%;
      height: 115%;
      background-color: yellowgreen;
      border: 0px solid;
      border-bottom-right-radius: 7px; }
