.post-comments-list {
  width: fit-content;
  height: fit-content;
  background-color: #c5aaaa;
  border: 1px solid black;
  margin-left: 3%;
  text-align: left; }
  .post-comments-list p {
    display: inline-block; }

#user-friends {
  width: 30% !important;
  padding: 10px;
  border: 1px solid black; }

#chatbox {
  width: 200px;
  height: 300px;
  background-color: yellowgreen;
  position: fixed;
  left: 85%;
  top: 55%;
  display: flex;
  flex-direction: column-reverse; }
