body {
  margin: 0; }
  body #layout-main {
    min-height: 600px; }
  body #home-container {
    margin-top: 0%;
    height: fit-content;
    width: 100%;
    background-color: #f4f6fc;
    text-align: left;
    min-height: 600px;
    display: flex; }
    body #home-container #feed-posts {
      width: 70%; }
      body #home-container #feed-posts .post-class {
        width: 300px;
        height: fit-content;
        background-color: yellowgreen;
        padding: 10px;
        margin-bottom: 5px; }
        body #home-container #feed-posts .post-class .commentclickdiv {
          height: 25px;
          width: 150px;
          background-color: #556161;
          margin-left: 10px;
          display: flex;
          justify-content: center; }
          body #home-container #feed-posts .post-class .commentclickdiv a {
            text-decoration: none;
            color: white; }
      body #home-container #feed-posts .likes-comments-section {
        display: flex;
        margin-left: 10px; }
        body #home-container #feed-posts .likes-comments-section .comments {
          visibility: hidden; }
        body #home-container #feed-posts .likes-comments-section .commentshide {
          visibility: visible; }
        body #home-container #feed-posts .likes-comments-section .likeanchor {
          text-decoration: none;
          color: black;
          font-size: 20px; }
          body #home-container #feed-posts .likes-comments-section .likeanchor .blue {
            color: #356de7; }
        body #home-container #feed-posts .likes-comments-section .liker-toggle {
          color: #356de7;
          animation: likeswing 0.3s ease-in-out 1; }

@keyframes likeswing {
  0% {
    transform: rotateZ(20deg);
    transform: scaleX(1.2); }
  30% {
    transform: rotateZ(0deg);
    transform: scaleX(1.2); }
  50% {
    transform: rotateZ(-15deg); }
  70% {
    transform: rotateZ(10deg);
    transform: scaleX(1.2); }
  100% {
    transform: rotateZ(-10deg); } }
    body #home-container aside {
      width: 30%; }
      body #home-container aside #Friends {
        width: 100%;
        height: 50%; }
    body #home-container h1 {
      font-size: 45px;
      color: #0f3970;
      padding: 20px;
      margin-top: 0%; }
    body #home-container button {
      width: 150px;
      height: 40px;
      background-color: #064f52;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: white;
      border: 0px solid; }
