body {
  margin: 0; }
  body #home-container {
    margin-top: 0%;
    height: fit-content;
    width: 100%;
    background-color: #f4f6fc;
    text-align: left;
    min-height: 600px;
    display: flex; }
    body #home-container #feed-posts {
      width: 70%; }
    body #home-container #user-friends {
      width: 30%; }
    body #home-container h1 {
      font-size: 45px;
      color: #0f3970;
      padding: 20px;
      margin-top: 0%; }
    body #home-container button {
      width: 150px;
      height: 40px;
      background-color: #064f52;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: white;
      border: 0px solid; }
