body {
  margin: 0; }
  body #layout-main {
    margin-top: -2%;
    height: fit-content;
    width: 100%;
    background-color: #7e8d91;
    text-align: left; }
    body #layout-main h1 {
      font-size: 45px;
      color: #0f3970;
      padding: 20px; }
    body #layout-main button {
      width: 150px;
      height: 40px;
      background-color: #064f52;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: white;
      border: 0px solid; }
